* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #75af32;
    font-family: "Poppins", sans-serif;
	font-weight: 300;
	line-height: 1.5;
	font-size: 16px;
	transition: all .3s ease;
    color: #fff;
    padding: 0 20px;
}

header {
    margin: 15px;
    padding: 10px;
    display: flex;
}

.btn-cart {
    padding: 10px 30px;
    background-color: #185da7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.products {
    display: flex;
    justify-content: space-evenly;
}

.product-item {
    height: 150px;
    width: 200px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #fff;
}

.product-item h3 {
    margin-bottom: 10px;
}
